<h1>Nouvelle prédicition</h1>
<br>

<%= render 'form', post: @post %>

<div class="new">
<%= link_to posts_path do  %>
<button type="button" class="btn-lg btn-outline-primary">Retour</button>
<% end %>
